* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: start;
    flex-flow: column;
    align-items: center;
    /* height: 100vh; */
    gap: 0.5vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 12%;
    margin-right: 8px;
}

.title h1 {
    padding-top: 10px;
    font-size: 32px;
}

.table td {
    align-items: center;
}

.red-star {
    color: red;
}

.centered * {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px 20px;
    text-align: center;

}

td *{
    padding: 2px;
}

.price{
    width: 60px;
}

.bold-labels{
    font-weight: bold;
}

.sort-by{
    width: 200px;
    text-align: center;
}

td button{
    background-color: rgb(218, 217, 218);
    border: 1px;
    border-radius: 5px;
    padding: 5px;
}

td button:hover{
    background-color: rgb(102, 172, 91);
    color: white;
}

.search-title{
    padding: 20px 0 10px 0;
}

.search-title p{
    font-size: x-large;
}

hr{    
    width: 700px;
    margin: 0 0 8px 0;
}

.results{
    width: 700px;
    border: 1px solid black;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(238, 236, 238);
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.image-container {
    display: flex;
    flex: 0 0 20%;
    overflow: hidden; /* Hide any overflow beyond the container */
    justify-content:center;
    align-items:center;
}

.image-container img{
    max-width: 80%; /* Set the maximum width to 100% of the container's width */
    max-height: 80%; /* Set the maximum height to 100% of the container's height */
    display: block; /* Remove any extra spacing caused by inline elements */
    margin: 0 auto; /* Center the image horizontally (optional) */
    border: 2px solid grey;
}

.result-details{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
