* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: start;
    flex-flow: column;
    align-items: center;
    /* height: 100vh; */
    gap: 0.5vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 35%;
    margin-right: 2px;
}

.title h1 {
    padding-top: 10px;
    font-size: 35px;
}

.table td {
    align-items: center;
}

.red-star {
    color: red;
}

.centered * {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px 20px;
    text-align: center;

}

td *{
    padding: 2px;
}

.price{
    width: 60px;
}

.bold-labels{
    font-weight: bold;
}

.sort-by{
    width: 200px;
    text-align: center;
}

.button{
    background-color: rgb(218, 217, 218);
    border: 1px;
    border-radius: 5px;
    padding: 5px;
}

td button:hover{
    background-color: rgb(102, 172, 91);
    color: white;
}

.search-title{
    padding: 20px 0 5px 0;
    text-align: center;
}

.search-title p{
    margin-bottom: 20px;
    font-size: x-large;
}

hr{    
    width: 700px;
}

.results{
    width: 700px;
    margin-top: 5px;
    border: 1px solid black;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(238, 236, 238);
    /* -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc; */
    border-radius: 5px;
}

.results:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.image-container {
    display: flex;
    flex: 0 0 20%;
    justify-content:center;
    align-items:center;
    transition: transform .5s;
    height: 150px;
}

.image-container img{
    max-width: 90%; 
    max-height: 90%; 
    display: block; 
    margin: 0 auto; 
    border: 2px solid grey;
    transition: transform 1s;
}

.image-container img:hover{
    transform: scale(2.5);
}

.result-details{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.redirect{
    width: 15px;
    opacity: 0.5;
}

.condition{
    width: 25px;
    background-color: rgb(238, 236, 238);
    position: 10px 10px;
}

#showMoreButton{
    display: none;
    margin-bottom: 10px;
    font-size: medium;
}