{% extends "home.html" %}

{% block search %}
<div class="search-title" id='results'>
<p><b>{{ totalResultsFound }} Results found for <i>{{ keyword }}</i></b></p>
</div class=outer-results>
<hr>
{% for result in results %}
<div id='results' class="results">
    <div class="image-container">
        <img src="{{ result['imageURL'] }}">
    </div>
    <div class="result-details">
        <p><strong>{{ result['title'] }}</strong></p>
        <p>Category: <i>{{ result['category'] }}</i> </p>
        <p>Condition: {{ result['condition'] }}</p>
        <p><strong>Price: ${{ result['price'] }}</strong></p>        
    </div>
</div>
{% endfor %}
{% endblock search %}